html {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
}
@media (min-width: 1280px) {
	.container {
	    max-width: 1140px;
	}
}
/* =================================
 * DROPDOWN
 * ================================*/
.collapsible-section .collapsible-btn .chevron{
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.collapsible-section.active .collapsible-btn .chevron{
  transform: rotate(180deg);
}
.collapsible-section .collapsible-btn {
  cursor: pointer;
}
.collapsible-section.active .collapsible-close,
.collapsible-section .collapsible-open {
  display: none;
}
.collapsible-section .collapsible-close,
.collapsible-section.active .collapsible-open {
  display: block;
}
.collapsible-section svg {
  fill: currentColor;
}

/* =================================
 * MODAL
 * ================================*/
.jg-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(8 8 8 / 30%);
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.jg-modal .m-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  height: auto;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
  margin-top: 100px;
  box-shadow: 0px 0px 12px rgba(1, 38, 97, 0.12);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.jg-modal .m-container .m-content {
  display: block;
  background-color: #fff;
  min-height: 150px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
}
.m-close {
  position: absolute;
  color: #262626;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.jg-modal.active {
  visibility: visible;
  opacity: 1;
}
.jg-modal.active .m-container {
  opacity: 1;
}
.jg-modal.active .m-container.bounce {
  transform: scale(1);
}
.jg-modal.active .m-container.slide-from-top {
  top: 0px;
}
.jg-modal.active .m-container.slide-from-bottom {
  bottom: 0px;
}
.jg-modal.active .m-container.slide-from-left {
  left: 0px;
}
.jg-modal.active .m-container.slide-from-right {
  right: 0px;
}

/* =================================
 * JG FRONTEND Flicky
 * ================================*/
.switch {}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 15.56px;
  width: 15.56px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: drop-shadow(-2px 1px 6px rgba(0, 0, 0, 0.25));
}

.switch input:checked + .slider {
  background-color: #0CCE6B;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

/* =================================
* Table
* ================================*/
.table-jg tr th {
  padding: 20px;
  border-bottom-width: 1px;
}
.table-jg tr td {
  padding: 20px;
  border-bottom-width: 1px;
}
.table-jg .table-check {
  padding: 20px 0 20px 20px;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable th span {
  position: relative;
}

.table-sortable th.th-sort-asc span:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #262626;
  border-bottom: none;
  right: -15px;
  bottom: 6px;
}
.table-sortable th.th-sort-desc span:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #262626;
  right: -15px;
  bottom: 6px;
}
.table-sortable .sortable-arrow {
  position: absolute;
  right: -19px;
  bottom: 2px;
}
.table-sortable .th-sort-asc .sortable-arrow ,
.table-sortable .th-sort-desc .sortable-arrow  {
  display: none;
}

 /* =================================
 * JG FRONTEND Flicky
 * ================================*/
.jg-products .flickity-prev-next-button.previous { left: -10px; }
.jg-products .flickity-prev-next-button.next { right: -10px; }
.jg-products .flickity-button { 
  color: #737D81;
  background: #fff;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}
.jg-products .flickity-button:disabled { display: none; }
.jg-products .flickity-prev-next-button .flickity-button-icon { width: 12px; height: 12px; }
.jg-products .flickity-prev-next-button { width: 32px; height: 32px; padding: 0px; }

.jg-banner-slider .flickity-button.flickity-prev-next-button.previous,
.jg-banner-slider .flickity-button.flickity-prev-next-button.next {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.jg-banner-slider:hover > .flickity-button.flickity-prev-next-button.previous,
.jg-banner-slider:hover > .flickity-button.flickity-prev-next-button.next {
  opacity: 1;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: hsla(0, 0%, 100%, 0.90);
  color: #333;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.flickity-prev-next-button.previous { left: 20px; }
.flickity-prev-next-button.next { right: 20px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 32%;
  top: 32%;
  width: 12px;
  height: 12px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

